################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/telerik_scheduler_sandbox/bin/Telerik.Web.Spreadsheet.dll
/telerik_scheduler_sandbox/bin/Telerik.Web.Spreadsheet.xml
/telerik_scheduler_sandbox/bin/Telerik.Web.UI.dll
/telerik_scheduler_sandbox/bin/Telerik.Web.UI.Skins.dll
/telerik_scheduler_sandbox/bin/Telerik.Web.UI.xml
/telerik_scheduler_sandbox/bin/Telerik.Windows.Documents.Core.xml
/telerik_scheduler_sandbox/bin/Telerik.Windows.Documents.Flow.xml
/telerik_scheduler_sandbox/bin/Telerik.Windows.Documents.Spreadsheet.FormatProviders.OpenXml.xml
/telerik_scheduler_sandbox/bin/Telerik.Windows.Documents.Spreadsheet.xml
/telerik_scheduler_sandbox/bin/Telerik.Windows.Zip.xml
/telerik_scheduler_sandbox/obj/Debug
/lib/RCAJAX/2017.3.913.45
